<nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" href="#page-top"
      >{{ site.title }}</a
    >
    <button
      class="navbar-toggler navbar-toggler-right"
      type="button"
      data-toggle="collapse"
      data-target="#navbarResponsive"
      aria-controls="navbarResponsive"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto my-2 my-lg-0">
        {% for item in site.data.menus.header %}
        <li class="nav-item">
          <a
            class="nav-link js-scroll-trigger"
            href="{{ item.url | relative_url }}"
            >{% t {{ item.title }} %}</a>
          
        </li>
        {% endfor %}
          <li class="nav-item dropdown">
            <a class="nav-item nav-link dropdown-toggle mr-md-2" href="#" id="bd-versions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              {% t nav.{{ site.lang }} %}
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="bd-versions" id="languageDropdown">
              <a class="dropdown-item nav-link" href="/ItalianFabrics">{% t nav.pl %}</a>
              <a class="dropdown-item nav-link" href="/ItalianFabrics/it">{% t nav.it %}</a>
            </div>
          </li>
      </ul>
    </div>
 
  </div>
</nav>
