---
---

@charset "utf-8";

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "member-box",
        "timeline",
        "page",
        "icons"
;

#languageDropdown {
        min-width: 3rem;
        background-color: #ffffff45;
        border: none
}
      
#languageDropdown .dropdown-item:hover {
        background-color: #3a3a3a45;
}