---
---

@charset "utf-8";

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "member-box",
        "timeline",
        "page",
        "icons"
;

#languageDropdown {
        min-width: 3rem;
        background-color: #ffffff45;
        border: none
}
      
#languageDropdown .dropdown-item:hover {
        background-color: #3a3a3a45;
}

#mybasiaLogoInText {
    font-family: 'Euphoria Script';
    font-weight: 700;
    font-size: 1.3rem;
}

.icon-light {
        color: #578475 !important;
      }

.text-light-green {
        color: #578475 !important;
        font-family: Arial, Helvetica, sans-serif;
}

.map-svg {
        width: 15rem;
        height: 15rem;
}
      